@import "tailwindcss";

@theme {
  --color-cta: #68d0f1;
  --color-secondary: #D2F1FA;
}

::-webkit-scrollbar {
  width: 5px; /* Narrow width similar to mobile */
}

::-webkit-scrollbar-track {
  background: transparent; /* or rgba(0,0,0,0.05) for slight visibility */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent like mobile */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
